.edit_link, .new_link {
  .field label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .field input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #aaa;
    margin-bottom: 20px;
  }

  .actions {
    input {
      background: #0082fc;
      border: 1px solid #0082fc;
      border-radius: 5px;
      color: #eeeeee;
      padding: 10px 30px;
      text-decoration: none;
      transition: .3s;

      &:hover {
        background: #015baf;
      }
    }
  }
}
