.edit_registration_content {
  max-width: 340px;
  margin: 0 auto;

  h2 {
    text-align: center;
  }

  .edit_user {
    border: 1px solid #eee;
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px;

    br {
      display: none;
    }

    i,
    em {
      font-size: 0.875em;
    }

    .field label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
    }

    .field input {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #aaa;
      margin-bottom: 20px;
    }

    .actions {
      input {
        background: #0082fc;
        border: 1px solid #0082fc;
        border-radius: 5px;
        color: #eeeeee;
        padding: 10px 30px;
        transition: 0.3s;
        width: 100%;

        &:hover {
          background: #015baf;
        }
      }
    }
  }

  .cancel_account {
    margin-top: 20px;

    h3 {
      color: red;
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 5px;
    }

    .button_to input {
      width: 100%;
      padding: 10px 0;
      border: 1px solid red;
      border-radius: 5px;
      color: red;
      background: none;
      transition: 0.3s;

      &:hover {
        border-color: red;
        color: white;
        background: red;
      }
    }
  }
}
