header {
  background: #eeeeee;
  box-shadow: 0px 0px 5px black;
  margin-bottom: 60px;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;

    h1 {
      a {
        font-family: 'Staatliches', cursive;
        font-size: 2em;
        text-decoration: none;
        color: black;
      }
    }

    .form-search {
      display: flex;
      width: 50%;

      .input-search {
        flex: 1;
        padding: 10px;
        border: 1px solid #eeeeee;
        border-radius: 5px;
        font-family: 'Merriweather', serif;
        transition: .3s;

        &:hover {
          border-color: #0082fc;
        }
      }
    }

    ul {
      display: flex;

      li {
        margin-left: 5px;
        list-style: none;

        a {
          background: #0082fc;
          border: 1px solid #0082fc;
          border-radius: 5px;
          color: #eeeeee;
          padding: 10px 30px;
          text-decoration: none;
          transition: .3s;

          &:hover {
            background: #015baf;
          }
        }

        .btn-sign-in {
          background: none;
          border: 1px solid #0082fc;
          border-radius: 5px;
          color: #0082fc;
          padding: 10px 30px;
          text-decoration: none;
          transition: .3s;

          &:hover {
            color: #015baf;
            background: none;
          }
        }
      }
    }
  }
}
